.sidebar {
    text-align: center;
    width: 200px;
    margin-right: 20px;
    box-shadow: var(--shadow-sm);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-bottom: 20px;
}
.title {
    font-size: 2rem;
    font-weight: 700;
    padding: 16px 8px;
}
.item {
    width: 100%;
    background-color: #fff;
    padding: 8px 0;
    &:hover {
        background-color: #f1efef;
    }
}
